extends ../layout

block body
   h1.
      Infophoto #{demo_request._id}
   p Created: #{demo_request.created_at}
   p Email: #{demo_request.email}
   p Other Info: #{demo_request.other_info}
   p Pref Date: #{demo_request.pref_date}
   p Subscriptions: #{demo_request.subscriptions}
